@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

::-webkit-scrollbar {
  width: 0;
}

body {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  background-color: #1c1c1c;
  color: white;
  display: grid;
  justify-content: center;
  text-align: center;
}

.form-group {
  text-align: left;
  color: white;
  height: 50px;
  background-color: #373737;
  border-radius: 13px;
  display: grid;
  padding: 10px;
  box-sizing: border-box;
  place-content: center;
  grid-template-columns: 1fr 2fr;
  width: 500px;
  margin: 20px 0 20px 0;
  padding-top: 12px;
}

.write-group {
  text-align: center;
  margin-bottom: 20px;
}

.user-write {
  resize: none;
  height: 50px;
  background-color: rgba(0, 0, 0, 0);
  outline: none;
  border: none;
  text-align: center;
  font-size: 30px;
  color: white;
}

.user-write:focus {
  border: none;
}

.input-description {
  font-size: 20px;
}

.input {
  font-size: 16px;
  height: 75%;
  float: right;
  background-color: #373737;
  outline: none;
  border: solid rgba(0, 0, 0, 0);
  border-bottom: solid #c9c9c9;
  color: white;
  transition: 0.2s;
}

.input:hover,
input:focus {
  border-radius: 5px;
  border: solid white;
}

.publish {
  box-sizing: border-box;
  border-radius: 50px;
  border: none;
  background-color: #373737;
  color: white;
  height: 55px;
  width: 140px;
  outline: none;
  transition: 0.2s;
  font-size: 20px;
}

.publish:hover {
  background-color: white;
  color: #373737;
  transform: scale(1.05);
}

.publish:focus {
  border-radius: 0px;
  background-color: white;
  color: #373737;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}

.card {
  box-sizing: border-box;
  background-color: #373737;
  border-radius: 40px;
  width: max(1000px, 300px);
  text-align: center;
  display: grid;
  min-height: 400px;
  transition: transform 0.3s, box-shadow 0.3s;
  grid-template-areas:
    'n n'
    'l d';
  grid-template-rows: 25% 75%;
  grid-template-columns: 60% 40%;
}

.name {
  grid-area: n;
  margin-top: 20px;
  font-size: 50px;
  color: white;
}

.links {
  grid-area: l;
  margin-left: 30px;
  overflow: auto;
}

.link {
  background-color: #3f3f3f;
  color: white;
  border-radius: 10px;
  width: 80%;
  height:75px;
  margin-bottom: 13px;
  box-sizing: border-box;
  outline: none;
  border: none;
  transition: transform 0.4s, background-color 0.4s, color 0.4s;
  display: grid;
}

@media screen and (min-width: 500px) {
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 50px white;
  }

  .link:hover {
    background-color: white;
    transform: translate(30px);
    color: #3f3f3f;
  } 
}

.description {
  grid-area: d;
  text-align: justify;
  display: initial;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #3f3f3f;
  padding: 0 20px 0 20px;
  width: 100%;
  height: 100%;
}