<div class="form-group">
  <label for="name">Name</label>
  <input required name="name" id="name" />
</div>
<div class="form-group">
  <label for="description">Description</label>
  <textarea name="description" id="description"></textarea>
</div>
<div class="form-group">
  <label for="youtube">Youtube</label>
  <input name="youtube" id="youtube" />
</div>
<div class="form-group">
  <label for="twitch">Twitch</label>
  <input name="twitch" id="twitch" />
</div>
<div class="form-group">
  <label for="facebook">Facebook</label>
  <input name="facebook" id="facebook" />
</div>
<div class="form-group">
  <label for="twitter">Twitter</label>
  <input name="twitter" id="twitter" />
</div>
<div class="form-group">
  <label for="tiktok">Tiktok</label>
  <input name="tiktok" id="tiktok" />
</div>
<div class="form-group">
  <label for="instagram">Instagram</label>
  <input name="instagram" id="instagram" />
</div>
<div class="form-group">
  <label for="linkedin">LinkedIn</label>
  <input name="linkedin" id="linkedin" />
</div>
<div class="form-group">
  <label for="github">Github</label>
  <input name="github" id="github" />
</div>

<button type="submit">Publish</button>